* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
:root { 
 --main-color: #2196f3;  
 --main-transition: 0.3s;
 --main-padding-top: 100px;
 --main-padding-bottom: 100px;
 --section-background: #ececec;

}
.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
@media (min-width: 768px) {
    .container {
       width: 750px;
       }
}
@media (min-width: 992px) {
    .container {
     width: 970px;
       }
}
@media (min-width: 1200px) {
    .container {
       width: 1150px;
       }
}
.main-title {
    margin: 0px auto 80px;
    width: fit-content;
    border: 2px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
    
}
.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}
.main-title::after,
.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    background: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
    z-index: -1;
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
  animation: drop-right .5s linear forwards;
  -webkit-animation: drop-right .5s linear forwards;
}
.main-title:hover::after {
    animation: drop-left .5s linear forwards;
    -webkit-animation: drop-left .5s linear forwards;
}
@keyframes drop-right {
 50% {
    width: 12px;
    height: 12px;
     left:0 ;
}
100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
 }
 @keyframes drop-left {
50% {
    right: 0;
       width: 12px;
       height: 12px;
    
}
100% {
    right: 0;
       width: 100%;
       height: 100%;
       border-radius: 0;
}
 }
/* start header */
.header {
    background: white;
    position: relative;
    box-shadow: 0 0 0 black;
}
.header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}
.header .container .logo {
  font-size: 27px;
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: -1px;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
    text-align: center;
  }
}
.header .container > .nav {
    display: flex;
    justify-content: flex-end;
}
.header .container > .nav > li {
margin-left: 10px;
}
@media (max-width: 767px) {
    .header .container > .nav  {
     margin: auto;
    }
}
.header .container > .nav > li > a::before {
  content: "";
  position: absolute;
  height:3px;
    width: 100%;
    background: var(--main-color);
    left: -100%;
    top: 0;
    transition: var(--main-transition);
}
.header .container > .nav > li > a:hover::before {
   left: 0;
  }
.header .container > .nav > li > a:hover{
   color: #2196f3;
   background: #ffffff;
} 
.header .container > .nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
 }
 @media (max-width: 767px) {
    .header .container > .nav > li > a {
        padding: 10px;
        font-size: 13px;
        height: 30px;
    }
 }
 .header .container .nav > li:hover .mega-menu {
   opacity: 1;
   z-index: 1;
   top: 100%;
 }
.header  .mega-menu {
      position: absolute;
      left: 0;
      top: calc(100% + 50px);
      display: flex;
      justify-content: space-between;
      gap: 40px;
      transition:var(--main-transition) ;
      -webkit-transition:var(--main-transition) ;
      opacity: 0 ;
      z-index: -1;
      width: 100%;
      border-bottom: 3px solid var(--main-color);
      padding: 30px;
      background-color: white;
}
@media (max-width: 767px) {
 .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
 }
 .header .mega-menu .img {
    display: none;
 }
 .header .mega-menu .links:first-of-type li:last-of-type {
    border-bottom: 1px solid #dbd5d5;
 }
 .header .mega-menu .links:last-child {
    margin-top: 0;
 }
}
.header .mega-menu img {
    max-width: 100%;
}
.header .mega-menu .links li:not(:last-child)  {
    border-bottom: 1px solid #dbd5d5;
}
.header .container .mega-menu .links li a  {
 color: black;
 display: flex;
 padding: 15px;
 font-size: 18px;
 font-weight: bold;
 color: #2196f3;
}
.header .container .mega-menu .links li a i {
   margin-right: 10px;
}
.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
    margin-top: 10px;
}
.header .mega-menu .links li {
position: relative;
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    background-color: #f6f6f6;
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
/*   landing   */
.landing {
    position: relative;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
     align-items: center;
     padding-bottom: 120px;
    
}
.landing::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: #ececec;
  transform: skewy(-6deg) ;
  -webkit-transform: skewy(-6deg) ;
   top: -40px;
   left: 0;
   transform-origin: top left;
}
.landing .container .text h2 {
   font-size: 40px;
   font-weight: bold;
   letter-spacing: -2px; 
}
.landing .container .text p {
    line-height: 1.8;
    font-size: 23px;
    margin: 5px 0 0;
    max-width: 500px;
    color: black;
} 
@media (max-width: 767px) {
    .landing .container .text h2 {
        font-size: 25px;
        letter-spacing: -1px;
    }
    .landing .container .text p {
        font-size: 18px;
    }
}
.landing .container .img img {
    position: relative;
    width: 600px;
    animation: up-and-down 3s linear infinite alternate;
    -webkit-animation: up-and-down 3s linear infinite alternate;
}
@media (max-width: 991px) {
    .landing .container .img {
        display: none;
    }  
    .landing .text {
        text-align: center;
        flex: 1;
    }
    .landing .container .text p {
        margin-left: auto;
        margin-right: auto;
    }
}
@keyframes up-and-down {
    0% {
        top: 0;
    }
    100% {
        top: -50px;
    }
}
.landing .go-down {
 position: absolute;
 color: var(--main-color);
 bottom: 30px;
 left: 50%;
 transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 transition: var(--main-transition);
 -webkit-transition: var(--main-transition);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,10%, 20%, 40%, 50%, 80%,  100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    30%, 70% {
       transform: translateY(14px);
       -webkit-transform: translateY(14px);
       -moz-transform: translateY(14px);
       -ms-transform: translateY(14px);
       -o-transform: translateY(14px);
}
}
/* start articales */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .container {
 display: grid;
 grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
 gap: 40px;
}
.articles .box {
    background: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    overflow: hidden;
    transition: transform var(--main-transition) , box-shadow var(--main-transition);
    -webkit-transition: transform var(--main-transition) , box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.articles .box  img {
max-width: 100%;
width: 100%;
}
.articles .text{
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
}
.articles .text  h3 {
    text-transform: capitalize;
    font-size: 18px;
}
.articles .text  p {
    color: #777;
    line-height: 1.4;
}
.articles .info {
    position: relative;
    padding: 15px;
}
.articles .info a {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
}
.articles .box .info i {
    position: absolute;
    right: 31px;
    font-size: 21px;
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.articles .box:hover .info i {
    animation: go-right 0.9s linear infinite;
    -webkit-animation: go-right 0.9s linear infinite;
}
@keyframes go-right {
    100% {
     right: 10px;   
    }
}
/* end  */
/* start gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallery .box {
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
    border: 15px solid white;
}
.gallery .box .imge {
    overflow: hidden;
    position: relative;
}
.gallery .box .imge::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255 255 255 / 19%);
    z-index: 1;
}
.gallery .box:hover .imge::before {
    animation: fluch .7s;
    -webkit-animation: fluch .7s;
}
.gallery .box .imge img {
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.gallery .box:hover .imge img {
 transform: rotate(5deg) scale(1.1);
 -webkit-transform: rotate(5deg) scale(1.1);
}
@keyframes fluch {
    50% {
        opacity:1 ;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
/* end gallery */
/* features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .imge::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1px;
}
.features .box .imge::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #ff000000 transparent #ffffff #80808000;
    border-width: 0px 0px 170px 500px;
    right: 0;
    bottom: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.features .box:hover .imge::after {
    border-color: #ff000000 transparent #ffffff #80808000;
    border-width: 0px 500px 170px 0px;
}
.features .quality .imge::before {
    background-color: rgb(255 34 34 / 60%);
}
.features .time .imge::before {
    background-color: rgba(0, 153, 255, 0.6);
 }
 .features .passion .imge::before {
    background-color: rgb(0 150 136 / 60%);
 }
.features .box .imge {
    position: relative;
    overflow: hidden;
}
.features .box .imge img {
    max-width: 100%;
}
.features .box h2{
    font-size: 34px;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    margin: auto;
}
.features .box h2::after{
    content: "";
    height: 3px;
    position: absolute;
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    background: teal;
}
.features .quality h2::after {
    background-color: rgb(255 34 34 / 100%);
}
.features .time h2::after {
    background-color: rgba(0, 153, 255, 0.9);
}
.features .passion h2::after {
    background-color: #009688;
}
.features .box p {
    line-height: 2.1;
    padding: 20px;
    font-size: 20px;
    margin: 30px 0;
    color: #777;
}
.features .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 20px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 900;
    color: black ;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    z-index: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.features .quality a {
    color: rgb(255 34 34 / 100%);
    border: 3px solid rgb(255 34 34 / 100%);
} 
.features .time a {
    color:rgba(0, 153, 255, 0.9) ;
    border: 3px solid rgba(0, 153, 255, 0.9) ;
} 
.features .passion a {
    color: #009688;
    border: 3px solid #009688;
} 
.features .box a::before {
    content: "";
    left: 0;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    z-index: -2;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.features .quality a::before {
 background-color:rgb(255 34 34 / 100%) ;
}
.features .time a::before {
    background-color:rgba(0, 153, 255, 0.9)  ;
}
.features .passion a::before {
background-color:#009688 ;
 }
.features .box:hover a::before {
    width: 100%;
}
.features .box:hover a{
   color: white;
}
/* end features */
/* start test */
.testimonials {
    background: #ececec;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.testimonials .box {
    position: relative;
    background: white;
    padding: 4px 16px;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 8%);
}
.testimonials .box img {
    position: absolute;
    right: -10px;
    top: -53px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #ececec;
}
.testimonials .box h3 {
    text-transform: capitalize;
}
.testimonials .box h5 {
    color: #777;
    font-weight: 100;
    margin-top: -4px;
    font-size: 18px;
    margin-bottom: 11px;
}
.testimonials .box .filled {
color: #FFC107;
}
.testimonials .box p {
    color: #777;
    line-height: 1.6;
}
/* end testimonials */
/* start team members */
.team {
 padding-bottom: var(--main-padding-bottom);
 padding-top: var(--main-padding-top);
}
.team .container {
 display: grid;
 grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
 gap: 40px;
}
.team .box {
position: relative;
}
 .team .box::before, 
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 8%);
}
.team .box::after {
z-index: -1;
width: 0 ;
opacity: 0;
} 
.team .box:hover:after {
 width:calc(100% - 60px);
 background-color: #ccc;
 opacity: 1;
 } 
 .team .box:hover img {
    filter: grayscale(1);
 }
.team .box::before {
 width: calc(100% - 60px);
 z-index: -2;
}
.team .box .content {
 display: flex;
 margin-top: 30px;
}
.team .content img {
 width: calc(100% - 60px);
 border-radius: 10px;
 -webkit-border-radius: 10px;
 transition: var(--main-transition);
 -webkit-transition: var(--main-transition);
}
.team .content .icons {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.team .content .icons a {
 height: 50px;
 width: 50px;
 text-align: center;
color: cornflowerblue;
}
.team .box .info {
padding: 0 20px;
margin-left:70px ;
}
.team .box h3 {
color: var(--main-color);
text-transform: capitalize;
font-size: 19px;
}
 /* end team */
 /* start srv */
 .service {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
 } 
 .service .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
 }
 .service .box {
    background-color: white;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: service ;
}
 .service .box::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: -2;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.service .box:hover::before {
    width: 100%;
}
.service .box:hover {
    transform: translateY(-10px);
}
 .service .box i {
    color: #d5d5d5;
    margin: 26px auto auto 0;
    display: block;
    text-align: center;
 }
 .service .box h3 {
    text-align: center;
    color: var(--main-color);
    text-transform: capitalize;
    margin: 22px auto 20px;
    font-size: 22px;
 }
 .service .box .info {
    text-align: right;
    position: relative;
    padding: 15px;
    background: #f6f6f6;
 }
 .service .box .info::before {
    content: "0"counter(service) ;
    position: absolute;
    background-color: #2196f3;
    color: white;
    height: 100%;
    width: 80px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding-right: 16px;
 }
 .service .box .info::after {
    content: "";
    position: absolute;
    width: 50px;
    left: 80px;
    height: calc(100% + 0.4px);
    background: #d5d5d5;
    top: 0;
    transform: skewX(-29deg);
    -webkit-transform: skewX(-29deg);
    -moz-transform: skewX(-29deg);
    -ms-transform: skewX(-29deg);
    -o-transform: skewX(-29deg);
}
 .service .box .info a {
    text-decoration: none;
    color: #2196f3;
 }
 /* end srv */
 /* start our-skill */
.ourskills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.ourskills .container {
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .ourskills .container img {
        display: none;
    }
}
.ourskills .container .skills {
    flex: 1;
}
.ourskills .container .skills .skill {
    padding: 10px;
}
.ourskills .skills .skill h3 {
    text-transform: uppercase;
    font-size: 19px;
}
.ourskills .skills .skill .rate {
    background: var(--section-background);
    height: 30px;
    position: relative;
}
.ourskills .skills .skill .rate::before {
    content: attr(date-width);
    position: absolute;
    width: fit-content;
    padding: 4px;
    border: 1px solid #ccc;
    color: var(--main-color);
    background: white;
    top: -42px;
    right: 0;
    font-size: 13px;
    font-weight: 900;
    border-radius: 4px;
}
.ourskills .skills .skill .rate span {
    background: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 0.5s linear;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;
}
 /* end skills */
 /* start work */
 .work {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
 }
 .work .container {
    display: flex;
    align-items: center;

 }
 .work .container img {
    max-width: 100%;
    margin-right: 101px;
 }
 @media (max-width: 991px) {
    .work .container img {
        display: none;
    }
 }
 .work .container .info .box {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #f6f5f5;
    margin-bottom: 20px;
    padding: 12px 23px;
    border: 1px solid white;
    border-radius: 7px;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
 .work .container .info .box::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ececec;
    transition: var(--main-transition);
    z-index: -1;
    -webkit-transition: var(--main-transition);
}
 @media (max-width: 767px) {
    .work .container .info .box {
        text-align: center;
    }
 }
 .work .container .info .box:hover::before {
    width: 200%;
    height: 200%;
    opacity: .5;
 }
 .work .info .box img {
    width: 60px;
    margin: auto;
    height: 60px;
 }
 .work .info .box .content {
    margin-left: 34px;
 }
 @media (max-width: 767px) {
    .work .info .box .content {
        margin-left: 0;
    }
 }
 .work .info  .box .content h3 {
    font-size: 22px;
 }
 .work .info .box .content p {
    color: #777;
    line-height: 1.8;
    margin-top: -11px;
    font-size: 18px;
 }
 /* end work */
 /* start events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.events .container img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}
.events .container .info {
flex: 1;
}
.events .info .unit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.events .info .unit .time {
    display: flex;
    flex-direction: column;
    width: 75px;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 18px;
    border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.events .info .unit .time:hover {
    border-color: var(--main-color);
}
.events .info .unit .time:hover span:last-child {
    border-color: var(--main-color);
}
.events .info .unit .time span:first-child {
    padding: 15px;
    font-size: 30px;
    color: var(--main-color);
    font-weight: 900;
}
.events .info .unit .time span:last-child {
    border-top: 1px solid #ccc;
    padding: 11px 5px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.events .info  h3 {
    color: black;
    text-align: center;
    font-size: 28px;
    margin-top: 36px;
}
.events .info  {
    line-height: 1.7;
    font-size: 19px;
    text-align: center;
    color: #777;
    margin-top: -4px;
}
.events .sub {
    width: 100%;
    margin-top: 45px;
}
.events .sub form {
    width: 600px;
    padding: 30px 20px;
    margin: 20px auto;
    text-align: center;
    border-radius: 50px;
    background: #f6f5f5;
    display: flex;
    gap: 20px;
}
.events .sub form input[type="email"] {
    width: 409px;
    height: 55px;
    border: none;
    border-radius: 33px;
    padding: 0 0px 0 27px;
    text-transform: capitalize;
}
.events .sub form input[type="email"]:focus {
    outline: none;
}
.events .sub form input[type="email"]:focus::placeholder {
    opacity: 0;
}
@media (max-width: 767px) {
    .events .sub form {
        flex-direction: column;
        max-width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 20px;
}
    .events .sub form input[type="email"] {
        width: 100%;
        transition: var(--main-transition);
        margin: auto;
        border-radius: 0;
 }
}
.events .sub form input[type="submit"] {
    border: none;
    background: var(--main-color);
    color: white;
    text-transform: capitalize;
    width: 102px;
    height: 57px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 31px;
}
@media(max-width: 767px) {
    .events .sub form input[type="submit"] {
        margin: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        width: 100%;
  }
}
 /* end events */
 /* start pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.pricing .container {
display: grid;
grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
gap: 40px;
}
.pricing .container .box {
    text-align: center;
    background: white;
    padding: 20px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
     0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}
.pricing .container .box::before,
.pricing .container .box::after {
 content:"" ;
 position: absolute;
 width: 0;
 height: 50%;
 z-index: -1;
 opacity: .5;
 background-color: #f6f6f6;
 transition: var(--main-transition) ;
 -webkit-transition: var(--main-transition) ;
}
.pricing .container .box::before {
    top: 0;
    right: 0;
}
.pricing .container .box::after {
    bottom: 0;
    left: 0;
}
.pricing .container .box:hover:after,
.pricing .container .box:hover::before {
    width: 100%;
}
.pricing  .box h3 {
    font-size: 25px;
    text-transform: capitalize;  
}
.pricing  .box img {
    max-width: 78px;
    margin-bottom: 35px;
}
.pricing  .box .detalis {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.pricing .box .detalis span:first-of-type {
    width: 100%;
    color: var(--main-color);
    font-weight: bold;
    font-size: 51px; 
}
.pricing .popular {
    top: -30px;
}
.pricing .box .detalis span:last-of-type {
    width: 100%;
    color: #777;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 30px; 
}
.pricing ul {
text-align: left;
margin-bottom: 20px;
}
.pricing ul li {
padding: 20px 0;
border-top: 1px solid #eee;
}
.pricing ul li::before {
font-family: "Font Awesome 5 Free";
content: "\f00c";
color: #2196f3;
margin-right: 24px;
margin-left: 18px;
font-weight: 900;
}
.pricing .box a {
    padding: 13px 24px;
    color: var(--main-color);
    width: fit-content;
    border: 2px solid var(--main-color);
    display: block;
    margin: auto;
    border-radius: 6px;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: #2196f3;
    color: white;
}
.pricing .popular .labal {
    position: absolute;
    width: 40px;
    top: 0;
    right: 26px;
    background-color: #2196f3;
    padding: 9px 10px 32px;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 18px;
}
.pricing .popular .labal::before {
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    right: 0px;
    top: 105px;
}
 /* end pricing */
 /* start video */
 .video  {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
 }
 .video .holder {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--section-background);
 }
 @media (max-width: 767px) {
    .video .holder {
        flex-direction: column;
    }
 }
 .video .holder .lest {
    min-width: 300px;
    background: white;
    border: 1px solid var(--section-background);
 }
 .video .holder .lest .name {
    position: relative;
    padding: 20px;
    background: #f4f4f4;
    font-size: 19px;
    font-weight: 900;
    color: var(--main-color);
 }
 .video .holder .lest .name i {
    position: absolute;
    right: 27px;
    font-size: 17px;
    top: 23px;
 }
 .video .holder .lest ul li{
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}
.video .holder .lest ul li:hover {
    background-color: #f5f4f4;
    color: var(--main-color);
}
.video .holder .lest ul li span{
    width: 100%;
    display: block;
    margin-top: 10px;
    color: #777;
}
.video .holder .auto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.video .holder .auto img {
    max-width: 100%;
}
.video .holder .auto .info {
    padding: 20px;
    background-color: white;
    width: 100%;
}
 /* end video */
 /* start stats */
 .stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-size: cover;
    background-image: url(../imgs/stats.jpg);
 }
 .stats::before {
    content: "";
    position: absolute;
     background-color: white;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     opacity: .8;
 }
 .stats h2 {
    font-size: 34px;
    color: black;
    position: relative;
    text-align: center;
    margin: 0 auto 50px;
    text-transform: capitalize;
 }
 .stats .container {
 position: relative;
 display: grid;
 grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
 gap: 20px;
}
 .stats .box {
    padding: 18px 53px;
    background: rgb(255 255 255 / 80%);
    text-align: center;
    position: relative;
 }
 .stats .box::after,
 .stats .box::before {
    content: "" ;
    width: 2px;
    position: absolute;
    height: 0;
    background: var(--main-color);
    transition: 1s;
}
 .stats .box::after {
 right: 0;
 top: 0;
 }
 .stats .box::before {
 bottom: 0;
 left: 0;
 }
 .stats .box:hover::after,
 .stats .box:hover::before {
 height: 100%;
 }
 .stats .box i {
    width: 100%;
    padding: 8px;
 }
 .stats .box span:first-of-type {
    width: 100%;
    display: block;
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
 }
 .stats .box span:last-of-type {
    width: 100%;
    display: block;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: var(--main-color);
    text-transform: capitalize;
 }
 /* end stats */
 /* start discount */
 .discount {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
 }
 .discount .image {
    flex-basis: 50%;
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: change-cover 10s linear infinite;
    -webkit-animation: change-cover 10s linear infinite;
}
@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}
@keyframes change-cover {
 100% {
    background-image: url(../imgs/discount-background2.jpg);
 }
}
 .discount .image::before {
    content: "";
    position: absolute;
    background: rgb(33 150 243 / 97%);
    width: 100%;
    height: 100%;
 }
 .discount .image .content {
    position: relative;
    text-align: center;
    color: white;
    padding: 0 21px
 }
 .discount .image .content h3 {
    font-size: 40px;
 }
 .discount .image .content p {
    font-size: 18px;
    line-height: 1.7;
    max-width: 500px;
    padding: 20px 0;
 }
 .discount .image .content img {
    max-width: 200px;
 }
 .discount .form {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 @media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
} 
 .discount .form .content h3 {
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
 }
 .discount .form .content form {
    display: flex;
    flex-direction: column;
    gap: 20px;  
 }
 .discount .form .content form .input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    padding: 15px;
    text-transform: capitalize;
    width: 100%;
    display: block;
    caret-color: var(--main-color);
 }
 .discount .form .content form .input:focus {
    outline: none;
 }
 .discount .form .content form input[type="submit"] {
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: var(--main-color);
    color: white;
}
 /* end discount */

